BASE_URL="http://localhost:4003"

RAILS_MASTER_KEY="383e6b219f36f4dd2f1f9a128c144506"

PEMILU_API_URL="https://staging-pemilu.pantaubersama.com"
AUTH_API_URL="https://staging-auth.pantaubersama.com"

WEB_DOMAIN="https://staging-web.pantaubersama.com"